.wrapper{
    display: flex;
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;


}
.wrapperlogin{
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.loginbtn{
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background:rgb(64, 133, 238);
    color:#fff;
    
}
.loadinggif{
    width: 23%;
}
.btnlogin{
    display: flex;
    justify-content: center;
}


.img{
    justify-content: center;
    align-items: center;
}
.miz{
    width: 180px;
    border-radius: 10px;
}
.sam{
    background-color: #efefef;
}
.pra{
    border-radius: 15px;
}
.bhu{
    background-color: #9de2ff;
}
.phi{
    color: #2b2a2a;
}
.center{
    justify-content: center;
}
.message{
width: 100px;
height: 350px;
margin-top: 360px;
background-color: rgb(206, 203, 199);
color: black;
border-radius: 20px;
font-size: 25px;
}
.pogo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pogo img{
    width: 500px;
}